@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(234, 234, 234);
}
